.Logo {
  max-width: 168px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
}

.Menu {
  align-items: center;
  background: var(--green);
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  height: 94px;
  justify-content: space-between;
  left: 0;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px) {
  .Menu {
    height: 40px;
    justify-content: center;
  }
  
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

.ButtonLink {
  background: var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--green);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  padding: 16px 24px;
  text-decoration: none;
}

.ButtonLink:hover,
.ButtonLink:focus {
  background: var(--white);
  color: var(--green);
}

@media (max-width: 800px) {
  a.ButtonLink {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 0;
    border: 0;
    color: var(--green);
    text-align: center;
  }
}