.Logo {
  max-width: 168px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px) {
  .Menu {
    height: 40px;
    justify-content: center;
  }
  
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}



@media (max-width: 800px) {
  a.ButtonLink {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 0;
    border: 0;
    color: var(--green);
    text-align: center;
  }
}