* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.Logo { max-width: 168px; }

@media (max-width: 800px) {
  .Logo { max-width: 105px; }
}

.Menu {
  align-items: center;
  background: var(--black);
  border-bottom: 2px solid var(--primary);
  display: flex;
  height: 94px;
  justify-content: space-between;
  left: 0;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}
  @media (max-width: 800px) {
  .Menu {
  height: 40px;
  justify-content: center;
  }
  body {
  --bodyPaddingTop: 40px;
  padding-top: var(--bodyPaddingTop);
  }
  }
  .ButtonLink {
  border-radius: 5px;
  border: 1px solid var(--white);
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  outline: none;
  padding: 16px 24px;
  text-decoration: none;
  transition: opacity .3s;
  }
  .ButtonLink:hover,
  .ButtonLink:focus {
  opacity: .5;
  }
  @media (max-width: 800px) {
  a.ButtonLink {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 0;
  border: 0;
  text-align: center;
  }
  }